# Ignore everything
*

# Allow entering directories
!*/

# Keep System/git files
!.gitignore

# Allow System files if needed
!.gitattributes

# Ignore everything except SystemVerilog (.sv) files
!*.sv
!**/*.sv
!*.do

# Optional: ignore typical build artifacts
build/
bin/
obj/
*.o
*.exe
*.log
